*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardStyle {
    background: rgb(49, 49, 49);
    box-shadow: 1px 1px 5px black;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #ffff;
    text-align: center;
}